# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/.bin_timestamp
build/.bin_timestamp
build/esp-idf/main/libmain.a
build/.bin_timestamp
build/.ninja_deps
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/hello-world.bin
build/hello-world.elf
build/hello-world.map
build/esp-idf/esp32/ld/esp32.project.ld
build/esp-idf/main/libmain.a
